body {
  background-color: #1e1e1e;
}
#container {
  margin: 0 auto;
  overflow: auto;
}
.ez-panel {
  float: left;
  box-sizing: border-box;
  overflow: auto;
}
.ez-window {
  float: left;
  box-sizing: border-box;
  overflow: auto;
  background-color: #282828;
  color: #d3d3d3;
  padding: 5px;
  font-family: 'Century Gothic', sans-serif;
}
.ez-window ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#ezTreeCtx,
#ezPropertiesCtx {
  width: 15%;
  margin: 0px 10px;
  min-height: 200px;
}
#ezSrcCtx {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
}
#ezTreeCtx li {
  padding: 5px;
}
#ezTreeCtx li,
#ezTreeCtx li > p {
  display: block;
  width: 100%;
}
#ezTreeCtx li > p {
  transition: 0.5s;
  font-size: 70%;
  padding: 5px 15px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
#ezTreeCtx li > p:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
