html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.ez-root {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
}
.ez-root-debug {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
}
.ez-root-debug > * {
  box-sizing: border-box;
  border: 1px solid black;
}
.ez-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
}
.ez-panel {
  height: 100%;
  overflow-y: auto;
}
.ez-window {
  height: 100%;
  overflow-y: auto;
  color: #f3f3f3;
  font-family: "Century Gothic", sans-serif;
  background-color: #282828;
  border: 1px solid #353535;
}
.ez-window > header {
  width: 100%;
  overflow: hidden;
  background-color: #424242;
}
.ez-window > header > h1 {
  margin: 0;
  padding: 10px 10px;
  font-size: 90%;
  line-height: 100%;
  font-variant: small-caps;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ez-modal-window {
  height: 100%;
  overflow-y: auto;
  color: #f3f3f3;
  font-family: "Century Gothic", sans-serif;
  background-color: #282828;
  border: 1px solid #353535;
  z-index: 1;
  position: absolute;
}
.ez-modal-window > header {
  width: 100%;
  overflow: hidden;
  background-color: #424242;
}
.ez-modal-window > header > h1 {
  margin: 0;
  padding: 10px 10px;
  font-size: 90%;
  line-height: 100%;
  font-variant: small-caps;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ez-modal-window > header {
  display: grid;
  grid-template-columns: 80% 20%;
}
.ez-modal-window > header > h1 {
  float: left;
}
.ez-modal-window > header > .ez-modal-buttons {
  height: 100%;
}
.ez-modal-window > header > .ez-modal-buttons button {
  float: right;
  height: 100%;
  min-width: 60px;
}
.ez-modal-buttons button {
  background-color: transparent;
  border: none;
  transition: 0.1s;
}
.ez-modal-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.ez-template {
  display: none;
}
#ezInsertElementModalCtx,
#ezInsertStyleModalCtx,
#ezInsertAttributeModalCtx {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  border: 2px solid #00ccff;
  overflow: visible;
}
#ezInsertElementModalCtx > main,
#ezInsertStyleModalCtx > main,
#ezInsertAttributeModalCtx > main {
  padding: 5px;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr {
  display: grid;
  max-height: 300px;
  overflow-y: scroll;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card {
  cursor: pointer;
  height: 110px;
  width: 110px;
  box-sizing: border-box;
  background-color: #550ea7;
  padding: 10px 5px;
  transition: 0.2s;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover {
  background-color: #7925da;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover > h1,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover > h1,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card:hover > h1 {
  font-size: 130%;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1,
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p {
  text-align: center;
  margin: 0;
  padding: 0;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card > h1 {
  font-family: "Consolas", monospace;
  font-size: 120%;
  margin-bottom: 10px;
  line-height: 100%;
  transition: 0.2s;
}
#ezInsertElementModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p,
#ezInsertStyleModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p,
#ezInsertAttributeModalCtx > main > .ez-element-cards-ctr > .ez-element-card > p {
  color: #cecece;
  font-size: 80%;
}
#ezInsertElementModalCtx > main > p,
#ezInsertStyleModalCtx > main > p,
#ezInsertAttributeModalCtx > main > p {
  margin: 5px;
}
#ezInsertElementModalCtx > main > input,
#ezInsertStyleModalCtx > main > input,
#ezInsertAttributeModalCtx > main > input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Consolas", monospace;
  font-size: 18px;
  background-color: #ececec;
  padding: 5px;
  border: none;
  border-bottom: 4px solid #acacac;
}
#ezEditContentModalCtx {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  border: 2px solid #00ccff;
  overflow: visible;
}
#ezEditContentModalCtx > main {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
#ezEditContentModalCtx > main > textarea {
  min-width: 200px;
  min-height: 50px;
  flex-basis: 100%;
}
#ezTreeCtx {
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.35);
}
#ezTreeCtx .tree-view-node-ctr > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid rgba(11, 151, 194, 0.815);
  background-color: rgba(56, 253, 220, 0.05);
  cursor: pointer;
}
#ezTreeCtx .tree-view-node-ctr > div > p {
  flex: 1;
  margin: 0;
  font-family: "Consolas", monospace;
  padding-left: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#ezTreeCtx .tree-view-node-ctr > div > p .ez-node-meta {
  font-size: 80%;
  color: gray;
  padding-left: 10px;
}
#ezTreeCtx .tree-view-node-ctr > div > div {
  visibility: hidden;
}
#ezTreeCtx .tree-view-node-ctr > div > div > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
}
#ezTreeCtx .tree-view-node-ctr > div > div > button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#ezTreeCtx .tree-view-node-ctr > div:hover {
  background-color: rgba(56, 253, 220, 0.15);
}
#ezTreeCtx .tree-view-node-ctr > div:hover > p {
  padding-left: 12px;
}
#ezTreeCtx .tree-view-node-ctr > div:hover > div {
  visibility: visible;
}
#ezTreeCtx .tree-view-node-ctr > div:active {
  background-color: rgba(56, 253, 220, 0.2);
}
#ezTreeCtx > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid rgba(11, 151, 194, 0.815);
  background-color: rgba(56, 253, 220, 0.05);
  cursor: pointer;
}
#ezTreeCtx > div > p {
  flex: 1;
  margin: 0;
  font-family: "Consolas", monospace;
  padding-left: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#ezTreeCtx > div > p .ez-node-meta {
  font-size: 80%;
  color: gray;
  padding-left: 10px;
}
#ezTreeCtx > div > div {
  visibility: hidden;
}
#ezTreeCtx > div > div > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
}
#ezTreeCtx > div > div > button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#ezTreeCtx > div:hover {
  background-color: rgba(56, 253, 220, 0.15);
}
#ezTreeCtx > div:hover > p {
  padding-left: 12px;
}
#ezTreeCtx > div:hover > div {
  visibility: visible;
}
#ezTreeCtx > div:active {
  background-color: rgba(56, 253, 220, 0.2);
}
#ezTreeCtx ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
#ezTreeCtx ul li > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid rgba(11, 151, 194, 0.815);
  background-color: rgba(56, 253, 220, 0.05);
  cursor: pointer;
}
#ezTreeCtx ul li > div > p {
  flex: 1;
  margin: 0;
  font-family: "Consolas", monospace;
  padding-left: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#ezTreeCtx ul li > div > p .ez-node-meta {
  font-size: 80%;
  color: gray;
  padding-left: 10px;
}
#ezTreeCtx ul li > div > div {
  visibility: hidden;
}
#ezTreeCtx ul li > div > div > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
}
#ezTreeCtx ul li > div > div > button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#ezTreeCtx ul li > div:hover {
  background-color: rgba(56, 253, 220, 0.15);
}
#ezTreeCtx ul li > div:hover > p {
  padding-left: 12px;
}
#ezTreeCtx ul li > div:hover > div {
  visibility: visible;
}
#ezTreeCtx ul li > div:active {
  background-color: rgba(56, 253, 220, 0.2);
}
#ezTreeCtx[collapsed="true"] > div,
#ezTreeCtx li[collapsed="true"] > div {
  border-bottom: 2px solid green;
}
#ezTreeCtx[collapsed="true"] > ul,
#ezTreeCtx li[collapsed="true"] > ul {
  display: none;
}
#ezTreeCtx[selected="true"] > div,
#ezTreeCtx li[selected="true"] > div {
  background-color: #2f0cf7;
}
#ezTreeCtx[selected="true"] > div:hover,
#ezTreeCtx li[selected="true"] > div:hover {
  background-color: #2f0cf7;
}
#ezPropertiesCtx {
  padding: 5px;
}
#ezPropertiesCtx > ul,
#ezPropertiesCtx li > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#ezPropertiesCtx > ul > li {
  margin-top: 10px;
}
#ezPropertiesCtx > ul > li > ul {
  padding-left: 20px;
}
#ezPropertiesCtx li > h1,
#ezPropertiesCtx li > p {
  font-size: 100%;
  margin: 0;
  line-height: 100%;
}
#ezPropertiesCtx li > h1 {
  font-size: 140%;
  margin-bottom: 10px;
}
#ezPropertiesCtx li > p {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
#ezPropertiesCtx li > p .ez-prop-style-name {
  margin-left: 10px;
  font-size: 90%;
  color: #c0c0c0;
  font-family: "Consolas", monospace;
}
